/*Подключение шрифта*/


/*Левая сторона*/

.left {
    display: inline-block;
    max-width: 50%;
    height: 100%;
 
}
.bg {
    max-width: 100%;
}
/*логотип*/
.logo-1 {
    display: inline-block;
    margin-bottom: 950px;
    margin-left: -680px;

    
}
.logo {
    width: 150px;
    height: 75px;
    position: absolute;
}
/*Высота заголовка*/

.title {
    margin-bottom: 50px;
    max-width: 100%;
}
/*Высота кнопок*/

.button {
    margin-bottom: 50px;
    
}
/*Высота текста контента*/
.coment {
    margin-bottom: 60px;
    
}

/*Правая сторона*/

/*Высота последнего чекбокса*/
.checkbox {
    margin-bottom: 60px;
   
}
/*Правая сторона*/

.right {
    display: inline-block;
    max-width: 50%;
    height: 100%;
    float: right;
    margin: 50px;
}

    body {
   background-color: #EFF6FF;
   margin: 30px;
   font-family: 'Barlow', sans-serif;
   font-weight: small;
   max-width: 100%;
   
}
/*Кнопка Facebook*/

.Facebook {
    width: 270px;
    height: 47px;
    background-color: #255A9B;
    color: #FFFFFF;
    white-space: nowrap;
    padding-right: 50px;

}
.Facebook-img {
    width: 40%;
    height: 40%;
    object-fit: contain;
    margin-left: -30px;
    float: left;


    /*Кнопка Linkedln*/
}
.Linkedln {
    width: 270px;
    height: 47px;
    background-color: #0076B6;
    margin-left: 55px;
    white-space: nowrap;
    padding-right: 55px;
    color: #FFFFFF;
}
.Linkedln-img {
    width: 40%;
    height: 40%;
    object-fit: contain;
    float: left;
    margin-left: -27px;
    
}
/*Текст между полосками*/

.container {
    display: flex;
    align-items: center;
    width: 35%;
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.line {
    flex-grow: 1;
    height: 1px;
    background-color: #AFAFAF;
   margin: 7px;
}
.text {
    padding: 0 10px;
}
/*Общий блок Input*/
.input {
    margin-left: -145px;
    margin-bottom: 50px;
}
/*Input рамка для телефона*/
.Phone {
  border: 2px solid #EEEEEE;
  width: 270px;
  height: 47px;  
  width: 270px;
  height: 55px;
  margin-left: 475px;
  margin-top: -58px;

}
.Phone:has(.text:focus) {
    border-left-color: blue;
}
.Email:has(.text:focus) {
    border-left-color: blue;
}
/*Input рамка для почты*/
.Email {
  border: 2px solid #EEEEEE;
  width: 270px;
  height: 55px;  
  margin-left: 143px;
  
}
/*Надписи телефо и почта в инпуте*/
p {
    margin-top: -40px;
    margin-left: 5px;
    color: #AFAFAF;
}
/*Форма инпута*/
.text {
    margin-top: 27px;
    width: 245px;
    border: none;
    outline: none;
    background-color: #EFF6FF;
}
/*Текст под заголовка*/
.h1 {
    color: #96A5B1;
}

/*Текст заголовка 1 и 2*/
h1 {
    color: #7B8A92;
    
}
.h2 {
    color: #7B8A92;
    margin-bottom: 60px;
}
/*Радио кнопки*/

.Radio {
    display: flex;
    margin-left: 35px;
    margin-bottom: 60px;
}
label {
    margin-right: 70px;
    
}
/*Иконки информации для радио кнопок*/
.information-1 {
    width: 9px;
    height: 9px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 70px;
    margin-top: -12px;
    color: #AFAFAF;
}
.information-2{
     width: 9px;
    height: 9px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 67px;
    margin-top: -12px;
    color: #AFAFAF;
}
.information-3 {
    width: 9px;
    height: 9px;
    border: 1px solid  #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 30px;
    margin-top: -12px;
    color: #AFAFAF;
}

.information-4 {
    width: 9px;
    height: 9px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 38px;
    margin-top: -12px;
    color: #AFAFAF;
}
input[type="radio"] {
    display: none;

}
/*Кастомные радио кнопки*/
.custom-radio-1 {
    width: 12px;
    height: 12px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 65px;
    margin-left: -25px;
    color: #AFAFAF;
    margin-top: 2px;
    

}
.custom-radio-2 {
    width: 12px;
    height: 12px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 140px;
    margin-left: -25px;
    color: #AFAFAF;
    margin-top: 2px;

}
.custom-radio-3 {
    width: 12px;
    height: 12px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 60px;
    margin-left: -25px;
    color: #AFAFAF;
    margin-top: 2px;

}
.custom-radio-4 {
    width: 12px;
    height: 12px;
    border: 1px solid #AFAFAF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
    margin-left: 65px;
    margin-left: -25px;
    color: #AFAFAF;
    margin-top: 2px;

}
.custom-radio-1:hover, .custom-radio-2:hover, .custom-radio-3:hover, .custom-radio-4:hover {
    border-color: blue;
    border-width: 4px;
    margin-top: -3px;
    
    
}
u {
    color: blue;
}
/*last button*/
.last {
    width: 250px;
    height: 35px;
    background-color:dodgerblue;
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

/*Блок с комментарием*/
.coment {
    width: 260px;
    height: 50px;
    padding: 10px;
    text-align: left;
    background-color: #FFFFFF;
    color: #AFAFAF;
     opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: -40px;
    border-radius: 5px;
}
/*Появление блока с комментарием при наведении на иконку информации*/
.Radio:hover~.text-content .coment
{
  opacity: 1;
}


.or {
    font-size: smaller;
    font-weight: small;
}
